{% extends 'base.html' %}
{% block content %}
<div id="conteudo">
        <div id="titulo">
            Palestrante &nbsp;
        </div>
        <div id="perfil">
            <div id="imagem">
                {% if speaker.avatar %}
                  <p> <img src="{{ speaker.avatar.url }}" width="200px" alt="{{ speaker.name }}" />
                  </p>
                {% endif %}
                <br>
                  <a href="{{speaker.url}}"> {{ speaker.name }}</a>
            </div>
            <div style="padding-top: 30px;" id="texto">
                <p>
                    {{ speaker.description }}
                </p>
            </div>
        </div>
    </div>
{% endblock content %}



